img
  object-fit: cover

.shop
  &_intro
    // background-image: url(./asset/fadeIn.jpg)

.shop_list
  &-item
    &-img
      width: 100%
      min-height: 450px
  &-content
    &-header
    &-title
      font-weight: 500
    &-state
      font-weight: 700
      text-shadow: 1px 1px .5px rgba(0,0,0,.4)
    &-price, &-favorite
      font-weight: 900
      // font-size: 14px

.goods_state
  &[data-goods-state="hot"]
    color: #f00
  &[data-goods-state="new"]
    color: #ffad39
