*
  position: relative
body
  // background: radial-gradient(ellipse at top left, #2009ca, transparent),radial-gradient(ellipse at bottom, #1b1282, transparent)
  // background: radial-gradient(ellipse at top left, #ca7009, transparent),radial-gradient(ellipse at bottom right, #1b1282, transparent)
img
  object-fit: cover
a
  color: #000
  text-decoration: none

.header_nav
  a

.shop
  background: radial-gradient(ellipse at top left, #2009ca, transparent),radial-gradient(ellipse at bottom, #1b1282, transparent)

.cart-fix
  padding: 10px
  color: #ececec
  background-color: #303030
  // background-color: #ea5a5a
  border-radius: 100%
  position: fixed
  bottom: 6%
  right: 10%
.cart-num
  width: 28px
  height: 28px
  line-height: 28px
  text-align: center
  color: #fff
  background-color: #ed1515
  // background-color: rgba(68,131,246,1)
  font-size: 16px
  font-family: monospace
  font-weight: 900
  border-radius: 100%
  position: absolute
  bottom: -4px
  right: -4px
